@keyframes sway {
  0% {
    transform: rotate(8deg);
  }

  50% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(8deg);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  padding-top: 10%;
}

p {
  font-family: sans-serif;
  text-align: center;
}

.message {
  margin-top: 40px;
}

.ghost {
  position: relative;
  width: 150px;
  height: 225px;
  background: #ffffff;
  box-shadow: -17px 0px 0px #dbdbdb inset, 0 0 50px #5939db;
  border-radius: 100px 100px 0 0;
  animation: float 2s infinite;
}

.ghostEyes {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 70px 0 0;
  width: 90px;
  height: 20px;
}

.ghostEyes:before, .ghostEyes:after {
  content: "";
  display: block;
  width: 15px;
  height: 25px;
  background: #00034b;
  border-radius: 50%;
}

.ghostDimples {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 35px 0 0;
  width: 130px;
  height: 20px;
}

.ghostDimples:before, .ghostDimples:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #ffbeff;
  border-radius: 50%;
}

.ghostFeet {
  width: 100%;
  position: absolute;
  bottom: -13px;
  display: flex;
  justify-content: space-between;
}

.ghostFoot {
  width: 25%;
  height: 26px;
  border-radius: 50%;
  background: #ffffff;
}

.ghostFoot:last-child {
  background-image: linear-gradient(to right, #ffffff 55%, #dbdbdb 45%);
}

.shadow {
  background: #000232;
  width: 150px;
  height: 40px;
  margin-top: 50px;
  border-radius: 50%;
  animation: shadow 2s infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

@keyframes shadow {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }
}

.logo {
  padding-top: 10%;
  text-align: center;
  width: 65%;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.logo b {
  font: 400 10vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.logo b span {
  animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {
    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
